<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- About Section Start -->
        <div class="rs-about style11 mt-100 pb-100 md-pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                        <div class="img-part js-tilt">
                            <img src="assets/images/about/22.jpg" alt="images">
                        </div>
                    </div>
                    <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                        <div class="sec-title2">
                            <h2 class="title purple-color mb-20">
                                About US
                            </h2>
                            <div class="bold-text mb-10">Our Vision</div>
                            <p class="desc mb-30">
                                To be an institution where the most formative years of a young mind are spent in the
                                guided
                                pursuit of excellence while developing a spirit of inquisitive questioning, an ability
                                to excel
                                in the pressure of a fast changing professional world, and a desire to grow into a
                                personality
                                than a person, in an environment that fosters strong moral and ethical values, teamwork,
                                community service and environment consciousness.
                            </p>
                            <div class="bold-text mb-10">Our Vision</div>
                            <ul class="desc mb-30">
                                <li>The preparation of human resource of the highest possible quality capability and
                                    motivation.
                                </li>
                                <li>To link the “world of knowledge” with the “world of work” through professional
                                    courses.</li>
                                <li>To create conducive environment for focused learning.</li>
                            </ul>
                            <div class="bold-text mb-10">Our Aim</div>
                            <ul class="desc mb-30">
                                <li>To provide excellent educational facilities and optimal atmosphere for studies and
                                    research
                                    in biological, chemical, physical and computational sciences.
                                </li>
                                <li>To inculcate in students positive attitude, a spirit of critical inquiry, analytical
                                    thinking and problem solving skills.</li>
                                <li>To lay proper stress an acquiring excellent communication skills which are
                                    imperative for
                                    effective transfer of intellectual abilities and skills to productive enter prises.
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- About Section End -->
    </div>
</body>

<app-footer></app-footer>